<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961860813957-kpjs1h1e6j850mgeh9ilp3sij8nrcj1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961860813957-kpjs1h1e6j850mgeh9ilp3sij8nrcj1g</string>
	<key>API_KEY</key>
	<string>AIzaSyC8np-mLhbZgnNQTXWuJ4EiPmSifFLrwqI</string>
	<key>GCM_SENDER_ID</key>
	<string>961860813957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.osOrganizzeWeb</string>
	<key>PROJECT_ID</key>
	<string>organizze-cd87e</string>
	<key>STORAGE_BUCKET</key>
	<string>organizze-cd87e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961860813957:ios:0066c963a49ad95d2e55ec</string>
</dict>
</plist>